body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #FDF8F0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    height: 70px;
    background-color: #FDF8F0;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.header h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.logo {
    width: 90px;
}

.back {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.container {
    width: 700px;
    margin: 10px auto;
    padding: 20px 30px;
    background-color: #FDF8F0;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: black;
}

input[type="text"],
input[type="file"] {
    padding: 10px;
    border: 1px solid #644c2a;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    background: transparent;
}

.btn-container {
    margin-top: -30px;
    display: flex;
    justify-content: flex-end;
}

button {
    background: #d6ae62;
    color: #3a2c17;
    border: none;
    padding: 10px 28px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #bb9a5c;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-btn {
    margin-top: 15px;
    padding: 8px 16px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.close-btn:hover {
    background: #45a049;
}
